<header>
    <h1>About Dexter Lab Hospital</h1>
    <h2>A place for healing <br /></h2>
    <img src="~/Content/doc.jpg" alt="Cartoon Doctor" style="width:50%;outline:10px black solid;" />
</header>
        <hr />
        <section>
            <table style="width:80%;text-align:left;">
                <tr>
                    <td style="width:50%;">
                        <h2>Opened in 1820</h2>
                    </td>
                    <td style="width:50%;">
                        <h2>Located in Traverse City, MI</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>20,000 Patients</h2>
                    </td>
                    <td>
                        <h2>6,000 Staff</h2>
                        <p>Number includes Doctors and Nurses</p>
                    </td>
                </tr>
            </table>
        </section>
        <hr />
        