<header class="jumbotron" style="background-color:darkblue;color:white;">
    <h1>Dexter Lab Hospital</h1>
</header>
<h2>Explore what we have to offer!</h2>
<article class="row">
    <section class="col-md-4">
        <img src="~/Content/cafeteria.jpg" alt="Cafeteria"
             style="width:100%;border:10px darkblue groove;padding:10px;margin-top:20px;" />
    </section>
    <section class="col-md-4">
        <img src="~/Content/semiPrivateRoom.jpg" alt="Semi Private Room"
             style="width:100%;border:10px darkblue groove;padding:10px;" />
    </section>
    
    <section class="col-md-4">
        <img src="~/Content/patientExcellence.jpg" alt="Patient Excellence Award"
             style="width:100%;border:10px darkblue groove;padding:10px;" />
    </section>
</article>